@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Yekan;
  src: url('../fonts/YekanBakhFaNum-Regular.ttf');
  font-style: normal;
  /* font-size: .5rem; */
}

@font-face {
  font-family: YekanThin;
  src: url('../fonts/YekanBakhFaNum-Thin.ttf');
  font-style: normal;
  /* font-size: .5rem; */
}

@font-face {
  font-family: YekanBold;
  src: url('../fonts/YekanBakhFaNum-Bold.ttf');
  font-style: normal;
  /* font-size: .5rem; */
}

@layer utilities {
  .rtl {
    direction: rtl;
  }
  .h-1-1 {
    height: calc(100vh / 1.1);
  }
}

